<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<server>
		<add key="ServerName" value="labsoft.pcs.usp.br" />
		<add key="Catalog" value="db_10" />
		<add key="UserId" value="usuario_10" />
		<add key="Password" value="2" />
	</server>
	<application>
		<add key="LogFilePath" value="logfile.txt" />
	</application>
</configuration>
